/* *
* Variables of the project
*
* @author Rafael Antonio Lucio <rafaelantoniolucio@gmail.com>
* */

/* _____ VARIABLES _____ */

// Colors of project
// ---------------------------------------------------------------

$brand-primary: #5090C4;
$brand-submit: #6AB94B;
$brand-warn: #faff99;
$brand-error: #e8b0b0;


// Fonts of project
// ---------------------------------------------------------------

$font-family-base-project: Arial, sans-serif !default;


// Z-index master list
// -------------------------

$zindexLoad:              1060 !default;