/* *
* Render UI-TREE-GRID
*
* @author Rafael Antonio Lucio <rafaelantoniolucio@gmail.com>
* */

/* _____ UI-TREE-GRID DEFAULT _____ */

.ui-tree-grid {
  width: auto;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 15px;
  display: inline-block;
}
.ui-tree-grid .tg-row {
  width: auto;
  white-space: nowrap;
  box-sizing: border-box;
  border-bottom: $ui-tg-border;
}
.ui-tree-grid .tg-row:last-child {
  border-bottom: 0;
}
.ui-tree-grid .tg-row:hover {
  background-color: $ui-tg-row-bgcolor_hover;
}
.ui-tree-grid .tg-header {
  left: 0;
  overflow: hidden;
  position: absolute;
}
.ui-tree-grid .tg-header.tg-row:hover {
  background-color: $ui-tg-row-bgcolor;
}
.ui-tree-grid .tg-header .tg-column {
  font-weight: bold;
  font-size: $ui-tg-font-size;
  font-family: $ui-tg-font-family;
}
.ui-tree-grid .tg-column {
  vertical-align: top;
  font-family: $ui-tg-font-family;
  line-height: $ui-tg-line-height;
  font-size: $ui-tg-font-size-mini;
  @include generate-ellipsis(100%);
  padding: $ui-tg-padding-vertical $ui-tg-padding-horizontal;
}

/*// UI-TREE-GRID BORDERED */
.ui-tree-grid.bordered {
  border: $ui-tg-border;
  border-radius: $ui-tg-border-radius;
}
.ui-tree-grid.bordered .tg-row {
  border: 0;
}
.ui-tree-grid.bordered .tg-row .tg-column {
  border-top: $ui-tg-border;
  border-right: $ui-tg-border;
}
.ui-tree-grid.bordered .tg-header .column,
.ui-tree-grid.bordered .tg-row:first-child .tg-column,
.ui-tree-grid.bordered .tg-row .tg-column.tg-lvl-2,
.ui-tree-grid.bordered .tg-row .tg-column.tg-lvl-3,
.ui-tree-grid.bordered .tg-row .tg-column.tg-lvl-4,
.ui-tree-grid.bordered .tg-row .tg-column.tg-lvl-5 {
  border-top: none;
}
.ui-tree-grid.bordered .tg-row .tg-column:last-child {
  border-right: none;
}
.ui-tree-grid.bordered .tg-header {
  border-bottom: $ui-tg-border;
}
.ui-tree-grid .tg-body {
  overflow-y: auto;
  max-height: $ui-tg-max-height;
  margin-top: $ui-tg-line-height;
}
/*// UI-TREE-GRID LEVELS */
@include generate-level();

/*// UI-TREE-GRID LEVELS COLUMNS */
@include generate-width-columns();