/* *
* Render UI-TREE-GRID
*
* @author Rafael Antonio Lucio <rafaelantoniolucio@gmail.com>
* */

/* _____ UI-TREE-GRID DEFAULT _____ */

.ui-tree-grid {
  overflow: auto;
  max-width: 100%;
  max-height: 300px;
  display: inline-block;
}
.tg-content-table {
  display: table;
  position: relative;
  border-collapse: collapse;
}
.ui-tree-grid .tg-row {
  width: auto;
  display: table-row;
  white-space: nowrap;
  box-sizing: border-box;
  border-bottom: $ui-tg-border;
  &:hover {
    background-color: $ui-tg-row-bgcolor_hover;
  }
  &:last-child {
    border-bottom: 0;
  }
}
.ui-tree-grid .tg-column {
  display: table-cell;
  vertical-align: top;
  @include generate-ellipsis();
  font-family: $ui-tg-font-family;
  line-height: $ui-tg-line-height;
  font-size: $ui-tg-font-size-mini;
  padding: $ui-tg-padding-vertical $ui-tg-padding-horizontal;
}
/*// UI-TREE-GRID HEADER */
.ui-tree-grid .tg-header {
  top: 0;
  position: absolute;
  background-color: $ui-tg-header-row-bgcolor;
  &:hover {
    background-color: $ui-tg-header-row-bgcolor_hover;
  }
}
.ui-tree-grid .tg-header .tg-column {
  font-size: $ui-tg-font-size;
  font-family: $ui-tg-font-family;
  font-weight: $ui-tg-font-weight-bold;
}
/*// UI-TREE-GRID BODY */
.ui-tree-grid .tg-body {
  margin-top: $ui-tg-line-height;
  .tg-row:first-child {
  }
}
/*// UI-TREE-GRID BORDERED */
.ui-tree-grid.bordered {
  border: $ui-tg-border;
  border-radius: $ui-tg-border-radius;
  .tg-header {
    &.tg-row {
      .tg-column {
        border-bottom: $ui-tg-border;
      }
    }
  }
  .tg-row {
    border-bottom: none;
    &:first-child {
      .tg-column {
        border-top: none;
      }
    }
  }
  .tg-column {
    border-right: $ui-tg-border;
    border-top: $ui-tg-border;
    &:last-child {
      border-right: none;
    }
    &:not(.tg-lvl-1) {
      border-top: none;
    }
  }
}
/*// UI-TREE-GRID LEVELS */
@include generate-level();

/*// UI-TREE-GRID LEVELS COLUMNS */
@include generate-width-columns();