<div class="ui-tree-grid bordered">
    <div class="tg-content-table">
        <div class="tg-header tg-row">
            <div class="tg-column tg-size-{{column.size||3}}" ng-repeat="column in columns" ng-click="sort(column.id, reverse);">
                {{column.label}}
                <span  ng-class="{true: 'fa fa-sort-asc', false: 'fa fa-sort-desc'}[reverse]" ng-if="column.id == predicate"></span>
            </div>
        </div>
        <div class="tg-body">
            <div ng-repeat="row in treeData" class="tg-row" ng-class="{true: 'tg-animate-included'}[row.change]">
				<div ui-cell="" column="column" row="row" class="tg-column tg-lvl-{{row.lvl}} tg-size-{{column.size||3}}" ng-repeat="column in columns" ng-click="clickRow(row, $index);">
					<span ng-if="isVisibleIcon($index)" class="icon-template" ng-include="iconTemplate"></span>
				</div>
            </div>
        </div>
    </div>
</div>