<div class="tg-include-content">
    <div class="row" ng-click="clickRow(row, $index);">
        <div ng-if="isVisibleIcon()" class="column col-xs-1" ng-include="iconTemplate">
            <button class="btn btn-icon">
                <i class="fa fa-caret-down"></i>
            </button>
        </div>
        <div class="column col-xs-4" ng-repeat="column in columns">
            {{row[column.id]}}
        </div>
    </div>
</div>
<div class="tg" ng-if="row.children">
    <div class="tg-include-child" ng-include="'grid-row.html'" ng-repeat="row in row.children | orderBy:predicate:reverse | filter:searchText"></div>
</div>