<div id="footer_wrap" class="outer">
    <footer class="inner">
        <p class="copyright">Ui-tree-grid maintained by <a href="https://github.com/guilhermegregio">Guilherme Gregio</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
    </footer>
</div>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular-resource.min.js"></script>
<script src="https://rawgit.com/guilhermegregio/ui-tree-grid/master/build/js/ui-tree-grid.min.js"></script>
<script src="{{ "/js/app.js" | prepend: site.baseurl }}"></script>