.lvl-1 {
    padding-left: 10px;
}
.lvl-2 {
    padding-left: 40px;
}
.lvl-3 {
    padding-left: 80px;
}
/*
 * Rafael Antonio Lucio
 * @rafaellucio <rafaelantoniolucio@gmail.com>
 */

/*// UI-TREE-GRID DEFAULT */
.ui-tree-grid {
    width: 100%;
    max-height: 350px;
    overflow: auto;
    margin-bottom: 15px;
}
.ui-tree-grid .row {
    margin: 0;
    line-height: 2.5;
    box-sizing: border-box;
}
.ui-tree-grid .row .column {
    border-right: 1px solid #e5e5e5;
}
.ui-tree-grid .row .column:last-child {
    border-right: none;
}
.ui-tree-grid .tg-header.row {
    border-top: none;
    border-bottom: 1px solid #e5e5e5;
}
.ui-tree-grid .row:hover {
    background-color: #dff9ff;
}
/*// UI-TREE-GRID BORDERED */
.ui-tree-grid.bordered {
    border-radius: 5px;
    border: 1px solid #e5e5e5;
}

.ui-tree-grid .tg-header.row:hover {
    background-color: transparent;
}
/*// UI-TREE-GRID tg */
/*// UI-TREE-GRID abbreviation tree-grid class to tg */
.tg {}
.tg-header {
    font-weight: bold;
}
.tg-include {
    border-top: 1px solid #e5e5e5;
}
.tg-include:first-child {
    border-top: none;
}
.tg-include .tg {}
/*// UI-TREE-GRID LEVEL ONE */
.tg-include-child .column:first-child {
    padding-left: 35px;
}
/*// UI-TREE-GRID LEVEL TWO */
.tg-include-child .tg-include-child .column:first-child {
    padding-left: 70px;
}
/*// UI-TREE-GRID LEVEL THREE */
.tg-include-child .tg-include-child .tg-include-child .column:first-child {
    padding-left: 105px;
}
/*// UI-TREE-GRID LEVEL FOUR */
.tg-include-child .tg-include-child .tg-include-child .tg-include-child .column:first-child {
    padding-left: 140px;
}
/*// UI-TREE-GRID LEVEL FIVE */
.tg-include-child .tg-include-child .tg-include-child .tg-include-child .tg-include-child .column:first-child {
    padding-left: 175px;
}