/*
 * Rafael Antonio Lucio
 * @rafaellucio <rafaelantoniolucio@gmail.com>
 */

/*// UI-TREE-GRID DEFAULT */
.ui-tree-grid {
    width: auto;
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
    display: inline-block;
}
.ui-tree-grid .row {
    margin: 0;
    width: auto;
    white-space: nowrap;
    box-sizing: border-box;
    border-bottom: 1px solid #e5e5e5;
}
.ui-tree-grid .row:last-child {
    border-bottom: 0;
}
.ui-tree-grid .row:hover {
    background-color: #dff9ff;
}
.ui-tree-grid .tg-header {
    padding-right: 15px;
    overflow-x: auto;
}
.ui-tree-grid .tg-header.row:hover {
    background-color: transparent;
}
.ui-tree-grid .tg-header .column {
    font-weight: bold;
}
.ui-tree-grid .column {
    width: 150px;
    padding: 0 15px;
    line-height: 40px;
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
}
/*// UI-TREE-GRID BORDERED */
.ui-tree-grid.bordered {
    border-radius: 5px;
    border: 1px solid #e5e5e5;
}
.ui-tree-grid.bordered .row {
    border: 0;
}
.ui-tree-grid.bordered .row .column {
    border-top: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}
.ui-tree-grid.bordered .row:first-child .column {
    border-top: none;
}
.ui-tree-grid.bordered .row .column:last-child {
    border-right: none;
}
.ui-tree-grid.bordered .tg-header {
    border-bottom: 1px solid #e5e5e5;
}
.ui-tree-grid.bordered .tg-header .column {
    border-top: none;
}
.ui-tree-grid.bordered .row .column.lvl-2,
.ui-tree-grid.bordered .row .column.lvl-3,
.ui-tree-grid.bordered .row .column.lvl-4,
.ui-tree-grid.bordered .row .column.lvl-5 {
    border-top: none;
}
.ui-tree-grid .tg {
    max-height: 300px;
    overflow-y: auto;
    white-space: nowrap;
}
/*// UI-TREE-GRID LEVEL ONE */
.lvl-1 {}
/*// UI-TREE-GRID LEVEL TWO */
.lvl-2:first-child {
    padding-left: 35px;
}
/*// UI-TREE-GRID LEVEL THREE */
.lvl-3:first-child {
    padding-left: 70px;
}
/*// UI-TREE-GRID LEVEL FOUR */
.lvl-4:first-child {
    padding-left: 105px;
}
/*// UI-TREE-GRID LEVEL FIVE */
.lvl-5:first-child {
    padding-left: 140px;
}