/* *
* Render UI-TREE-GRID MIXINS
*
* @author Rafael Antonio Lucio <rafaelantoniolucio@gmail.com>
* */

/* _____ MIXINS _____ */

// Generate levels itens
@mixin generate-level($class-name: 'tg-lvl', $number-level: 10, $increment: 35px, $defualt-padding-left: 15px) {
	$star-value: 0;
	@for $i from 1 through $number-level {
		@if $i == 1 {
			.#{$class-name}-#{$i}:first-child {
				padding-left: $defualt-padding-left;
			}
		} @else {
			.#{$class-name}-#{$i}:first-child {
				padding-left: ($star-value + $increment * $i) - $increment;
			}
		}
	}
}

// Generate width columns of table
@mixin generate-width-columns($class-name: 'tg-size', $number-level: 10, $increment: 50px) {
	$star-value: 50;
	@for $i from 1 through $number-level {
		.#{$class-name}-#{$i} {
			width: $star-value + $increment * $i;
		}
	}
}

// Generate text ellipsis
@mixin generate-ellipsis($max-width: 100%) {
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
	max-width: $max-width;
	text-overflow: ellipsis;
}

@mixin generate-clearfix() {
	&:before,
	&:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}