/* *
* Render UI-TREE-GRID VARIABLES
*
* @author Rafael Antonio Lucio <rafaelantoniolucio@gmail.com>
* */

/* _____ VARIABLES _____ */

$ui-tg-font-size: 14px !default;
$ui-tg-font-size-mini: 12px !default;
$ui-tg-font-size-large: 18px !default;
$ui-tg-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !default;

$ui-tg-font-weight-bold: bold !default;
$ui-tg-font-weight-normal: normal !default;

$ui-tg-max-height: 300px !default;

$ui-tg-line-height: 40px !default;

$ui-tg-header-row-bgcolor: white !default;
$ui-tg-header-row-bgcolor_hover: white !default;

$ui-tg-row-bgcolor: transparent !default;
$ui-tg-row-bgcolor_hover: #dff9ff !default;

$ui-tg-padding-vertical: 0 !default;
$ui-tg-padding-horizontal: 15px !default;

$ui-tg-border-radius: 5px !default;
$ui-tg-border-color: #e5e5e5 !default;
$ui-tg-border: 1px solid $ui-tg-border-color !default;