/* *
* Render UI-TREE-GRID VARIABLES
*
* @author Rafael Antonio Lucio <rafaelantoniolucio@gmail.com>
* */

/* _____ VARIABLES _____ */

$ui-tg-font-size: 1.4rem; // 14px
$ui-tg-font-size-mini: 1.2rem; // 12px
$ui-tg-font-size-large: 1.8rem; // 18px
$ui-tg-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$ui-tg-max-height: 300px;

$ui-tg-line-height: 40px;

$ui-tg-row-bgcolor: transparent;
$ui-tg-row-bgcolor_hover: #dff9ff;

$ui-tg-padding-vertical: 0;
$ui-tg-padding-horizontal: 15px;

$ui-tg-border-radius: 5px;
$ui-tg-border-color: #e5e5e5;
$ui-tg-border: 1px solid $ui-tg-border-color;
